<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>

<body>
 <!-- header section starts  -->

 <header class="header">

    <a href="#" class="logo"> <i class="fas fa"></i>LaptopNest</a>

    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Laptops </a>
                <ul>
                    <li><a href="{% url 'allproduct' %}">View all Laptop</a></li>
                    <li><a href="#">Laptop </a>
                        <ul>
                            {% for item in brand1 %}
                            <li><a href="{% url 'productCat' item.idbrand %}">{{item.brand_name}}</a></li>
                            {% endfor %} 
                        </ul>
                    </li>
                    <!-- <li><a href="#">Accessories +</a>
                        <ul>
                            {% for item in accessories %}
                            <li><a href="{% url 'accesoriesCat' item.idaccesories %}">{{item.accesories_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li> -->
                </ul>
            </li>
            <li><a href="{% url 'findstore' %}">Find Store</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li><a href="{% url 'aboutuspage' %}">About</a></li>
            {% if cuser %}
            <li><a href="#">{{cuser}}</a>
                <ul>
                    <li><a href="{% url 'profile' %}">Your Profile</a></li>
                    <li><a href="{% url 'c_password' %}">Reset Password</a></li>
                    <li><a href="{% url 'my_orders' %}">Orders</a></li>
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                </ul>
            </li>
            {% else %}
            {% comment %} <li><a href="{% url 'login' %}">Login</a></li> {% endcomment %}
            {% endif %}
    </nav>

    <div class="icons">
        {% comment %} <div id="menu-btn" class="fas fa-bars"></div> {% endcomment %}
        {% comment %} {% if cuser %} {% endcomment %}
        <a href="{% url 'cart' %}" class="fas fa-shopping-cart"></a>
        <a href="{% url 'wishlist' %}" class="fas fa-heart"></a>

        {% comment %} {% else %} {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
    </div>

    <!-- <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form> -->

</header>

<!-- header section ends -->


    <div class="about-section" style="padding-top: 74px;">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Online laptop stores allow customers to browse and purchase laptops from the comfort of their own homes. These stores usually have a wider selection of laptops and often offer competitive pricing. Customers can also read reviews and compare specifications before making a purchase.
            </p>
            <div class="skills">
                <span>Good Deals</span>
                <span>Best Products</span>
                <span>Satisfy Customer</span>
            </div>
        </div>
    </div>
</body>
</html>