<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Forgot Password Page </title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/f_password.css' %}">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="alert alert-danger" role="alert" style="position: absolute; top: 30px;">
    </div>
    <div class="alert alert-success" role="alert" style="position: absolute; top: 30px;">
    </div> <!-- <div class="container4">
        <div class="title">Forgot Password</div>
        <div class="content">
            <form action="{% url 'f_password' %}" method="post" role="form">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details" style="font-size: 20px;">E-mail :</span>
                        <input type="text" name="email" placeholder="Enter Your E-mail" value="{{values.email}}">
                    </div>
                    <div class="button">
                        <input type="submit" value="Get Password">
                        <p class="account"><a href="{% url 'home' %}" id="goto">Go Home</a></p>
                    </div>.
                </div>
            </form>
        </div>
    </div> -->
    <div class="container4">
        <div class="forms">
            <div class="form forgot_pass">
                <span class="title">Forgot Password</span>
                <form action="#" method="post">
                    {% csrf_token %}

                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="email">
                        <i class="uil-envelope-alt icon"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

</html>