*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(/static/images/pic2.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-weight: 500;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 9% 0.1rem 9%;
    background: #fff;
  }
  .header .logo {
    font-size: 1.5rem;
    color: #130f40;
    font-weight: bolder;
    text-decoration: none;
  }
  .header .logo i {
    color: #eb4d4b;
  }
  .header .navbar ul {
    list-style: none;
  }
  .header .navbar ul li {
    position: relative;
    float: left;
  }
  .header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
    font-weight: 510;
  }
  .header .navbar ul li a:hover {
    background: #333;
    color: #fff;
  }
  .header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
  }
  .header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
  }
  .header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
  }
  .header .navbar ul li:focus-within > ul, .header .navbar ul li:hover > ul {
    display: initial;
  }
  .header .icons div,
  .header .icons a {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .header .search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    width: 50rem;
    height: 5.5rem;
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  .header .search-form.active {
    right: 2rem;
    transition: 0.4s linear;
  }
  .header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
    padding: 0 1.2rem;
  }
  .header .search-form label {
    font-size: 2.2rem;
    margin-right: 1.7rem;
  }
  


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

